*,
*::before,
*::after {
  box-sizing: border-box
}

body {
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-size: 16px;
  background-color: #f0f0f0;
}

.container {
  background-color: #fff;
  margin: 20px;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  text-align: center;
}

h2 {
  margin-bottom: 20px;
}

button,
input {
  border-radius: 1.96rem;
}

input {
  margin: .32rem auto;
  padding: .69rem 1.32rem;
  width: 69%
}

button {
  background-color: green;
  color: white;
  cursor: pointer;
  margin: .96rem auto;
  padding: .5rem 1.32rem;
}

#successMessage {
  margin-top: 20px;
  font-weight: 800;
}

.success {
  color: green;
}

.error {
  color: red;
}